<% layout("/layouts/boilerplate") %>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <h1>About Journeyhub</h1>
            <p class="mt-4">
                Journeyhub is a web-based project meticulously designed and developed by <i><b> Sumit Jaiswal</b></i> a student of 
                <strong>Indian Institute of Technology (IIT) Patna</strong> as part of their academic endeavor to create innovative solutions in the domain of travel and event management.
            </p>
            <hr class="my-4">
            <h3>What is Journeyhub?</h3>
            <p>
                Journeyhub serves as a comprehensive platform to simplify travel planning and event management. From booking trips and accommodations to organizing events, 
                Journeyhub empowers users with seamless functionality and a user-friendly interface.
            </p>
            <hr class="my-4">
            <h3>Future Scope</h3>
            <ul class="text-start">
                <li>Integrating advanced AI algorithms for personalized travel recommendations.</li>
                <li>Adding a feature for dynamic pricing based on user preferences and travel trends.</li>
                <li>Developing a mobile application for real-time travel updates and notifications.</li>
                <li>Collaborating with local businesses for exclusive deals and discounts for users.</li>
                <li>Expanding the platform to support multi-language functionality for a global audience.</li>
            </ul>
            <p class="mt-3">
                We aim to continually enhance Journeyhub by incorporating cutting-edge technologies and gathering user feedback to create a platform that truly revolutionizes travel and event management.
            </p>
            <a href="/listings" class="btn btn-primary mt-3">Back to Home</a>
        </div>
    </div>
</div>
